@{
    Layout = "~/Views/Shared/_homeLayout.cshtml";
    ViewBag.Title = "Defajs First";
}

<style>
    .glow {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #CE352C, 0 0 40px #CE352C, 0 0 50px #CE352C, 0 0 60px #CE352C, 0 0 70px #CE352C;
    }
</style>

    <section class="swiper-container wBanner" style="height:400px" >
        <div class="swiper-wrapper ">
            <div class="swiper-slide">
                <div class="bg-overlay fg-white pt-10-fs pt-20-lg" style=" height:400px; background-image: url(@Url.Content("~/Content/assets/images/n2.jpg"));">
                    <div class="row">
                        <div class="cell offset-fs-1 offset-md-5 pt-18-fs pt-15-md">
                            <p class="h1 text-bold s0 animate__animated animate__delay-1s " id="s1">We Have Innovative Ideas</p>
                            <p class="h3 s0 animate__animated animate__delay-2s">In Design, Fabrications</p>
                            <p class="h5 s0 animate__animated animate__delay-3s">and Product Manufacturing</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-overlay fg-white pt-10-fs pt-20-lg" style=" height:400px; background-image: url(@Url.Content("~/Content/assets/images/n1.jpg"));">
                    <div class="row">
                        <div class="cell offset-fs-1 offset-md-5 pt-18-fs pt-15-md">
                            <p class="h1 text-bold fg-white s1 animate__animated animate__delay-1s " id="s2">Our Standard Meets</p>
                            <p class="h3 animate__animated s1  animate__delay-2s">All Our Clients Needs</p>
                            <p class="h5 animate__animated s1  animate__delay-3s">Beyond Expectation!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-overlay fg-white pt-10-fs pt-20-lg " style=" height:400px; background-image: url(/Content/assets/images/n5.jpg);">
                    <div class="row">
                        <div class="cell offset-fs-1 offset-md-5 pt-18-fs pt-15-md">
                            <p class="h1 text-bold s2 animate__animated animate__delay-1s ">With Our Technology</p>
                            <p class="h3 s2 animate__animated animate__delay-2s ">Creativity and Innovation</p>
                            <p class="h5 s2 animate__animated animate__delay-3s ">You Can Only Get The Best From Us!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-white wBpig"></div>
        <div class="swiper-button-next wBnxt swiper-button-white no-visible-fs visible-md"><span class="mif-chevron-right bg-lightCrimson-hover fg-white border-radius-half mif-4x"></span></div>
        <div class="swiper-button-prev wBprev swiper-button-white no-visible-fs visible-md"><span class="mif-chevron-left bg-lightCrimson-hover fg-white border-radius-half mif-4x"></span></div>
    </section>
    <section class=" bg-grayWhite pt-5-fs pt-15-md pb-10">
        <div class="container ">
            <div id="about-us" class="row">
                <div class="cell-md-6">
                    <div class="d-flex flex-column ">
                        <em class=" fg-darkGray">W e l c o m e</em>
                        <div class="text-bold text-leader">ABOUT US</div>
                        <p class="text-just text-medium">
                            <em><strong>DEFAJS</strong></em> First Integrated Resources Limited  is one of the leading companies in Nigeria, specialized in Real
                            estate consulting and Engineering services (Civil engineering and Mechanical engineering).
                        </p>
                        <p class="text-just">
                            We aim to transform Africa with our innovative ideas in designs, fabrication, and product manufacturing. We have the Team,
                            technology and foresight to make it all come to reality.
                        </p>
                        <a href="#" class="button w-33-fs w-25-md mt-5 ribbed-olive border-radius-5 fg-white text-bold place-left">read more</a>
                    </div>
                </div>
                <div class="cell-md-3">
                    <div class="d-flex flex-column text-center mx-auto  img-container thumbnail  rounded pb-3">
                        <img src="~/Content/assets/images/n5.jpg">
                        <p class="text-medium">Engineering Services</p>
                        <em>you can create image with overlay and this simple </em>
                        <a href="#" class="button border-radius-20 w-50 mx-auto ribbed-olive fg-white text-bold ">more</a>
                    </div>
                </div>
                <div class="cell-md-3">
                    <div class="d-flex flex-column text-center mx-auto  img-container thumbnail rounded pb-3">
                        <img src="~/Content/assets/images/n6.jpg" class="border-radius-2">
                        <p class="text-medium">Real Estate</p>
                        <em>you can create image with overlay and this simple </em>
                        <a href="#" class="button border-radius-20 w-50 mx-auto ribbed-olive fg-white text-bold ">more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-olive fg-white pb-10 pt-7">
        <div class="container  text-center">
            <p class="h2 text-bold">Engineering Services</p>
            <p class="mb-3 text-leader2 text-just"> 
                We have established reputations in designing, fabricating and manufacturing of advance high quality and durable lasercut steel products
                like:Lasercut Gates, Lasercut Security-doors, Lasercut balcony-railings, Elevated water tank,Lasercut partition,Lasercut staircase railings
                as well as technical support services.
            </p>
            <div class="row">
                <!--                <div class="cell-md-3">-->
                <!--                    <div class="img-container">-->
                <!--                        <img src="assets/images/n6.jpg">-->
                <!--                        <div class="image-overlay">-->
                <!--                            <h2 class="text-light">Image title</h2>-->
                <!--                            <p>-->
                <!--                                Ubi est noster nix? An unveiled form of issue is the awareness.-->
                <!--                            </p>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="cell-md-3">
                    <div data-role="tile" data-effect="zoom" data-size="large">
                        <div class="slide" data-cover="@Url.Content("~/Content/assets/images/n2.jpg")"></div>
                        <div class="slide" data-cover="@Url.Content("~/Content/assets/images/n3.jpg")"></div>
                        <div class="slide" data-cover="@Url.Content("~/Content/assets/images/n1.jpg")"></div>
                        <div class="slide" data-cover="@Url.Content("~/Content/assets/images/n6.jpg")"></div>
                        <div class="slide" data-cover="@Url.Content("~/Content/assets/images/grb.jpg")"></div>
                    </div>
                </div>
                <div class="cell-md-3 d-flex flex-column">
                    <div class="mb-3" data-role="tile" data-size="wide" data-effect="image-set">
                        <img src="~/Content/assets/images/n2.jpg">
                        <img src="~/Content/assets/images/n3.jpg">
                        <img src="~/Content/assets/images/n5.jpg">
                        <img src="~/Content/assets/images/n1.jpg">
                        <img src="~/Content/assets/images/n6.jpg">
                        <img src="~/Content/assets/images/gRb.jpg">
                    </div>
                    <div data-role="tile" data-size="wide" data-effect="image-set">
                        <img src="~/Content/assets/images/n2.jpg">
                        <img src="~/Content/assets/images/n3.jpg">
                        <img src="~/Content/assets/images/n5.jpg">
                        <img src="~/Content/assets/images/n1.jpg">
                        <img src="~/Content/assets/images/n6.jpg">
                        <img src="~/Content/assets/images/gRb.jpg">
                    </div>
                </div>
                <div class="cell-md-3">
                    <div data-role="tile" data-effect="switch" data-size="large">
                        <div class="slide" data-cover="@Url.Content("~/Content/assets/images/n2.jpg")"></div>
                        <div class="slide" data-cover="@Url.Content("~/Content/assets/images/n3.jpg")"></div>
                        <div class="slide" data-cover="@Url.Content("~/Content/assets/images/n1.jpg")"></div>
                        <div class="slide" data-cover="@Url.Content("~/Content/assets/images/n6.jpg")"></div>
                        <div class="slide" data-cover="@Url.Content("~/Content/assets/images/grb.jpg")"></div>
                    </div>
                </div>
                <div class="cell-md-3">
                    <div data-role="tile" data-effect="fade" data-size="large">
                        <div class="slide" data-cover="@Url.Content("~/Content/assets/images/n2.jpg")"></div>
                        <div class="slide" data-cover="@Url.Content("~/Content/assets/images/n3.jpg")"></div>
                        <div class="slide" data-cover="@Url.Content("~/Content/assets/images/n1.jpg")"></div>
                        <div class="slide" data-cover="@Url.Content("~/Content/assets/images/n6.jpg")"></div>
                        <div class="slide" data-cover="@Url.Content("~/Content/assets/images/grb.jpg")"></div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section>
        <div class="container d-flex flex-column my-5 flex-justify-center">
            <p class="display3 text-center glow">
                Check Our History; Visit Our Root
            </p>
            <a href="Our-history" class="button ribbed-red w-25-md w-50 mx-auto border-radius-20 fg-white mt-5">read more</a>
        </div>
    </section>

    <section class="bg-grayWhite bg-overlay py-7" style="background-image: url(@Url.Content("~/Content/assets/images/grb.jpg"));">
        <div class="container">
            <div class="text-center fg-white">
                <p class="h2 text-bold">Civil Engineering</p>
                <p class="text-leader2">
                    Our Civil engineering department covers various aspect of Real-Estate. Such as Real Estate Consultancy, Building Construction,
                    Project Management. We also take on the role of contractors for small to medium size projects.
                </p>
            </div>
            <div class="row fg-white mt-5">
                <div class="cell-md-3">
                    <div class="d-flex flex-row text-medium">
                        <span class="mif-done border-radius-half bg-green fg-black p-1 text-bold h-50 mr-2"></span>
                        Sales and installation of Roofing materials such as:
                    </div>
                    <ul class="ml-7 m-0">
                        <li>Long span Aluminium roofing sheet</li>
                        <li>Coated roofing tiles</li>
                    </ul>
                </div>
                <div class="cell-md-3">
                    <div class="d-flex flex-row text-medium">
                        <span class="mif-done border-radius-half bg-green fg-black p-1 text-bold h-50 mr-2"></span>
                        Sales and installation of accessories for:
                    </div>
                    <ul class="ml-7 m-0">
                        <li>Rain water collector</li>
                        <li>Interior and exterior designs</li>
                    </ul>
                </div>
                <div class="cell-md-3">
                    <div class="d-flex flex-row text-medium">
                        <span class="mif-done border-radius-half bg-green fg-black p-1 text-bold h-50 mr-2"></span>
                        Sales and installation of electric fence wire accessories for security purpose
                    </div>
                </div>
                <div class="cell-md-3">
                    <div class="d-flex flex-row text-medium">
                        <span class="mif-done border-radius-half bg-green fg-black p-1 text-bold h-50 mr-2"></span>
                        Professional Screeding and Painting
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-lightGray py-7 ">
        <div class="container w-75-md mx-auto">
            <div class="row">
                <div class="cell-md-4">
                    <div class=" w-75-md  text-center border-dashed p-5 border-4 border-radius-8 bd-crimson shadow-2">
                        <div>
                            <span class=" mif-rocket mif-4x border-radius-half bg-red p-5 fg-white ani-float ani-hover-shake"></span>
                        </div>
                        <p class="text-bold">Our Mission</p>
                        <div>
                            Our mission is to be the most successful manufacturing and construction company in Africa, living by
                            our ideas that consist of the knowledge, efficiency, reliability and integrity.
                            <div data-role="dropdown" data-toggle-element="#dpTog">
                                Meeting the needs of customers and providing them with values that exceeds their expectations. Meeting clients needs,exceeding
                                clients expectations is our dream for the future.
                            </div>
                        </div>
                        <a id="dpTog" class="button fg-white ribbed-olive border-radius-3 mt-2 shadowed">read more</a>
                    </div>
                </div>
                <div class="cell-md-4 text-center">
                    <div class="w-75-md text-center border-dashed border-radius-8 p-5 border-4 bd-crimson shadow-2">
                        <div>
                            <span class="mif-feed mif-4x border-radius-half bg-red p-5 fg-white ani-float ani-hover-shake"></span>
                        </div>
                        <p class="text-bold">Our Objective</p>
                        <div>
                           Our Objective as a company is to "Develop and provide quality and cost effective consultation services or engineering services to maximize
                            clients satisfaction."
                        </div>
                        <a class="button fg-white ribbed-olive border-radius-3 mt-2 shadowed">read more</a>
                    </div>
                </div>
                <div class="cell-md-4 text-center">
                    <div class="w-75-md text-center border-dashed border-radius-8 p-5 border-4 bd-crimson shadow-2">
                        <div>
                            <span class="mif-eye mif-4x border-radius-half bg-red p-5 fg-white ani-float ani-hover-shake"></span>
                        </div>
                        <p class="text-bold">Our Vision</p>
                        <div>
                           As a company, our vision is to create and deliver a high quality services that meets everyone's expectations.
                        </div><br /><br />
                        <a  class="button fg-white ribbed-olive border-radius-3 mt-2 shadowed">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-7 bg-white">
        <div class="container">
            <p class="h2 text-bold fg-black">Our Gallery</p>
            <div id="grid" data-role="image-grid, lightbox"
                 data-cls-image-grid-item="border bd-white border-1"
                 data-source="img">
                <img src="~/Content/assets/images/gRb.jpg" alt="Kuning">
                <img src="~/Content/assets/images/n1.jpg" alt="Klimt">
                <img src="~/Content/assets/images/n6.jpg" alt="Munk">
                <img src="~/Content/assets/images/n2.jpg" alt="Picasso">
                <img src="~/Content/assets/images/n3.jpg" alt="Gogen">
                <img src="~/Content/assets/images/n5.jpg" alt="Picasso 2">
            </div>
        </div>

    </section>
    <script src='~/Content/assets/js/myScript.min.js' type='text/javascript'></script>
    <script src='~/Content/assets/js/swiper.min.js' type='text/javascript'></script>
    <script>
        $(function () {
            // $(".image-overlay").fire("hover");
        })
        function hideSideBtn() {

        }
        var curSlid;
        var prevSlid = 0;
        var slidName;
        maskAp = true;
        new Swiper('.wBanner',
            {
                spaceBetween: 5, centeredSlides: !0, speed: 2500, loop: !0,
                autoplay: { delay: 6000, disableOnInteraction: !1 },
                pagination: { el: '.wBpig', clickable: !0, },
                navigation: { nextEl: '.wBnxt', prevEl: '.wBprev' },
                on: {
                    realIndexChange: function () {
                        curSlid = this.realIndex;
                        slidName = '.s' + curSlid;
                        $(slidName).addClass(' animate__fadeInDown ');
                        if (prevSlid != curSlid) { slidName = '.s' + prevSlid; $(slidName).removeClass(' animate__fadeInDown '); }
                        prevSlid = curSlid;
                    }
                },
            });

        var swiper = new Swiper('.neSlider', {
            spaceBetween: 1, centeredSlides: !0, speed: 2500, loop: !0,
            // init: false,
            autoplay: { delay: 3000, disableOnInteraction: !1 },
            //pagination: { el: '.nePig', clickable: true,},
            navigation: { nextEl: '.neNxt', prevEl: '.nePrev' },
            breakpoints: {
                640: { slidesPerView: 1, spaceBetween: 20, },
                768: { slidesPerView: 2, spaceBetween: 40, },
                1024: { slidesPerView: 3, spaceBetween: 50, },
            }
        });
    </script>